<div class="home-container">
  <div class="home-greeting-content-container">
    <div class="home-greeting-content-welcome">
      <h1>Welcome !!</h1>
    </div>
    <div class="home-greeting-content-welcome-text">
      <p>
        I am Cian Mung. I am developing this website while I am learning about
        Angular. I will add many things which may not be related to personal
        website because my priority is to show how I understand and use Angular
        when I develop website. The web designs may not be cool because my
        priority is to learn Angular not about designing.
      </p>
    </div>
    <div class="home-greeting-content-social-media-container">
      <div class="home-greeting-content-social-media-text">
        <p>You can also contact me on social media:</p>
      </div>
      <div class="home-greeting-content-social-media-icon-container">
        <div class="home-greeting-content-social-media-ig-icon">
          <a href="https://www.instagram.com/cianmung/" target="_blank">
            <img src="../../assets/images/ig.jpg" width="30px"
          /></a>
        </div>
        <div class="home-greeting-content-social-media-fb-icon">
          <a href="https://www.facebook.com/hsm.hsmung" target="_blank">
            <img src="../../assets/images/fb.jpg" width="30px"
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="home-greeting-profile-info-container">
    <div class="home-greeting-profile-info">
      <div class="home-greeting-profile-head-text">
        <h2>Personal Info</h2>
      </div>
      <div class="home-greeting-profile-detail">
        <div class="home-greeting-profile-pic">
          <img src="../../assets/images/profilepic.jpeg" width="250px" />
        </div>
        <div class="home-greeting-progile-info">
          <p>Full name: Hau Sian Mung</p>
          <p>Age: 20 years</p>
          <p>Location: Singapore</p>
        </div>
      </div>
    </div>
  </div>
</div>
